body {
    background: #f5f5f5;
    padding-top: 80px;
}

/* NAVBAR */

.navbar .navbar-brand {
    color: #333;
    font-weight: bold;
}

.navbar .btn i { vertical-align: 0; }

.navbar .btn-back,
.navbar .btn-menu,
.navbar button[data-toggle="offcanvas"] { display: none !important; }

/* NAVBAR WITH 2 LINES OF LINKS (DESKTOP ONLY) */

@media (min-width: 768px) {
    body.has-bootcards-navbar-double { padding-top: 110px; }

    body.has-bootcards-navbar-double .bootcards-navbar-double .navbar-brand { line-height: 50px; }

    body.has-bootcards-navbar-double .bootcards-nav-secondary.navbar-nav > li > a {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    body.has-bootcards-navbar-double .bootcards-nav-primary,
    body.has-bootcards-navbar-double .bootcards-nav-secondary {
        clear: right;
        margin-right: -15px;
    }

    body.has-bootcards-navbar-double .bootcards-nav-secondary,
    body.has-bootcards-navbar-double .bootcards-nav-secondary .dropdown-menu { font-size: 12px; }
}

/* LISTS */

.list-group label { font-weight: normal; }

a.list-group-item.active:before { color: #e1edf7; }

/* List Search */

.bootcards-list .panel-body > form > .row > div:first-child,
.bootcards-list .panel-body > .search-form > .row > div:first-child { padding-right: 0; }

/* CARDS */

.panel-title { margin: 7px 0; }

.panel-content form { padding: 15px; }

/* MODAL */

.modal-header { line-height: 32px; }

.modal-title { text-align: center; }

/* FORMS */

.bootcards-clearinput { right: 23px; }

/* FOOTER */

.navbar-fixed-bottom {
    background: transparent;
    padding-bottom: 20px;
    padding-top: 20px;
    position: static;
}

.navbar-fixed-bottom .btn-group { display: none; }

.navbar-fixed-bottom .bootcards-desktop-footer {
    color: #999;
    display: block;
    text-align: center;
}

/* DOCUMENTATION */

.bootcards-documentation-list > .panel { position: fixed; }

@media (min-width: 768px) {
    .bootcards-documentation-list > .panel { width: 163px; }
}

@media (min-width: 992px) {
    .bootcards-documentation-list > .panel { width: 213px; }
}

@media (min-width: 1200px) {
    .bootcards-documentation-list > .panel { width: 263px; }
}