/* bootcards 1.1.0 2015-01-14 1:40 */
/* NAVBAR */

/* OFFCANVAS MENU */
.offcanvas, .offcanvas-list {
    -moz-transform: translate3d(0px, 0px, 0px);
    -moz-transition: 0.25s ease;
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -o-transition: 0.25s ease;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition: 0.25s ease;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    transition: 0.25s ease;
    width: 200px;
    z-index: 1050;
}

.offcanvas-left { left: -200px; }

.offcanvas-left.active {
    -moz-transform: translate3d(200px, 0px, 0px);
    -ms-transform: translate3d(200px, 0px, 0px);
    -o-transform: translate3d(200px, 0px, 0px);
    -webkit-transform: translate3d(200px, 0px, 0px);
    transform: translate3d(200px, 0px, 0px);
}


/* OFFCANVAS LIST FOR TABLET PORTRAIT MODE */

.offcanvas-list {
    left: -350px;
    width: 350px;
}

.offcanvas-list.active {
    -moz-transform: translate3d(350px, 0px, 0px);
    -ms-transform: translate3d(350px, 0px, 0px);
    -o-transform: translate3d(350px, 0px, 0px);
    -webkit-transform: translate3d(350px, 0px, 0px);
    transform: translate3d(350px, 0px, 0px);
}

.offcanvas-list-title {
    background: rgba(247, 247, 247, .98);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 17px;
    font-weight: 500;
    height: 45px;
    line-height: 44px;
    position: fixed;
}


.offcanvaslist-toggle.active {
    -moz-transform: translate3d(50px, 0px, 0px);
    -ms-transform: translate3d(50px, 0px, 0px);
    -o-transform: translate3d(50px, 0px, 0px);
    -webkit-transform: translate3d(50px, 0px, 0px);
    transform: translate3d(50px, 0px, 0px);
}

.offcanvaslist-toggle {
    -moz-transform: translate3d(0px, 0px, 0px);
    -moz-transition: 0.25s ease;
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -o-transition: 0.25s ease;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition: 0.25s ease;
    transform: translate3d(0px, 0px, 0px);
    transition: 0.25s ease;
}

.push-right {
    -moz-transform: translate3d(0px, 0px, 0px);
    -moz-transition: 0.25s ease;
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -o-transition: 0.25s ease;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition: 0.25s ease;
    transform: translate3d(0px, 0px, 0px);
    transition: 0.25s ease;
}

.push-right.active-left {
    -moz-transform: translate3d(200px, 0px, 0px);
    -ms-transform: translate3d(200px, 0px, 0px);
    -o-transform: translate3d(200px, 0px, 0px);
    -webkit-transform: translate3d(200px, 0px, 0px);
    transform: translate3d(200px, 0px, 0px);
}

.push-right.active-right {
    -moz-transform: translate3d(-200px, 0px, 0px);
    -ms-transform: translate3d(-200px, 0px, 0px);
    -o-transform: translate3d(-200px, 0px, 0px);
    -webkit-transform: translate3d(-200px, 0px, 0px);
    transform: translate3d(-200px, 0px, 0px);
}


/* BUTTONS */

.btn i { margin-right: 5px; }

.btn.icon-only i { margin-right: 0; }


/* LISTS */

.list-group-item {
    margin-left: 15px;
    padding-left: 0;
}

a.list-group-item:hover,
a.list-group-item:active,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    margin-left: 0;
    padding-left: 15px;
}

.list-group-item-text {
    line-height: 18px;
    margin-bottom: 5px;
    overflow: hidden;
}

.list-group-item-heading:last-child,
.list-group-item-text:last-child { margin-bottom: 0; }

.list-group-item .row div > .list-group-item-heading:last-child,
.list-group-item .row div > .list-group-item-text:last-child { margin-bottom: 5px; }

.list-group-item .row div:last-child > .list-group-item-heading:last-child,
.list-group-item .row div:last-child > .list-group-item-text:last-child { margin-bottom: 0; }

.list-group-item img {
    height: 40px;
    width: 40px;
}

.list-group-item i {
    opacity: 0.3;
    text-align: center;
    width: 40px;
}

.list-group-item img,
.list-group-item i { margin-right: 15px; }

.panel > .list-group .list-group-item:last-child { border-bottom: 0; }

/* List Images */

.bootcards-list-group-item-content { overflow: hidden; }

/* Disclosure Indicators */

a.list-group-item:before {
    color: #ccc;
    content: '';
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 14px;
    margin-top: -7px;
    position: absolute;
    right: 15px;
    top: 50%;
}

.list-group.bootcards-no-indicators a.list-group-item:before { display: none; }


/* List - Subheadings */

.list-group-item.bootcards-list-subheading {
    font-size: 14px;
    font-weight: 500;
    margin-left: 0;
    padding-left: 15px;
    z-index: 6;
}

a.list-group-item.bootcards-list-subheading { padding-left: 40px; }

a.list-group-item.bootcards-list-subheading:before {
    color: #ccc;
    content: '';
    font-family: 'FontAwesome';
    font-size: 14px;
    left: 15px;
    line-height: 14px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
}

a.list-group-item.bootcards-list-subheading.collapsed:before { content: ''; }





/* List - AZ Picker */

.bootcards-az-picker {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    list-style: none;
    margin: 0 0 0 -26px;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 5px;
    position: fixed;
    right: 0;
    top: 0;
    width: 25px;
    z-index: 9;
}

.bootcards-az-picker li {
    background: #ffffff;
    font-size: 11px;
    font-weight: 500;
    height: 3.846%; /* 100% / 26 */
    padding: 0;
    text-align: center;
}

.bootcards-az-picker li a {
    -moz-box-align: center;
    -moz-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-content: center;
}

.bootcards-az-picker li a:hover { text-decoration: none; }

@media only screen and (min-device-width: 480px) 
				   and (max-device-width: 767px)
                   and (orientation: landscape) {
    /*hide every other letter on smartphones/ landscape*/
    .bootcards-az-picker li:nth-child(even) { display: none; }

    .bootcards-az-picker li {
        height: 7.692%; /* 100% / 13 */
    }
}

/* List - Search Form */

.bootcards-list .form-group {
    margin-bottom: 0;
    position: relative;
}

@media (min-width: 768px) {
    .bootcards-list .form-group { margin-bottom: 0; }
}

.bootcards-list form input, .bootcards-list .search-form input { padding-left: 32px; }

.bootcards-list form i.fa-search, .bootcards-list .search-form i.fa-search {
    color: #999;
    font-size: 14px;
    left: 12px;
    position: absolute;
    top: 10px;
}

.bootcards-list form .btn, .bootcards-list .search-form .btn { color: white; }


/* FOOTER */

.bootcards-desktop-footer { display: none; }


/* CARDS */

.panel-default .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
}

.panel-body > *:last-child { margin-bottom: 0; }

.panel-footer { overflow: hidden; }

.panel-footer small,
.modal-footer small {
    color: #aaa;
    display: block;
    line-height: 22px; /* Line up vertically with .btn */
    text-align: center;
}

/* ML: panel-footer has a top border, but that's removed by Bootstrap if there's a list-group before it. We restore it here.*/

.list-group + .panel-footer { border-top-width: 1px; }


/* FORM CARD */

.btn label {
    cursor: pointer;
    font-weight: inherit;
    margin: 0;
}

.bootcards-clearinput {
    color: #ccc;
    display: block;
    font-size: 0;
    position: absolute;
    right: 0;
    top: 11px;
}

.bootcards-clearinput i {
    font-size: 18px;
    line-height: 1;
}

.form-horizontal .form-group div div { padding: 0; }



/* Toggle – based on Ratchet.css */

.bootcards-toggle {
    -moz-transition-duration: .2s;
    -moz-transition-property: background-color, border;
    -webkit-transition-duration: .2s;
    -webkit-transition-property: background-color, border;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
    display: block;
    height: 30px;
    position: relative;
    transition-duration: .2s;
    transition-property: background-color, border;
    width: 74px;
}

.bootcards-toggle .bootcards-toggle-handle {
    -moz-transition-duration: .2s;
    -moz-transition-property: -moz-transform, border, width;
    -webkit-transition-duration: .2s;
    -webkit-transition-property: -webkit-transform, border, width;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    height: 28px;
    left: -1px;
    position: absolute;
    top: -1px;
    transition-duration: .2s;
    transition-property: transform, border, width;
    width: 28px;
    z-index: 2;
}

.bootcards-toggle:before {
    color: #999;
    content: "Off";
    font-size: 13px;
    position: absolute;
    right: 11px;
    text-transform: uppercase;
    top: 3px;
}

.bootcards-toggle.active {
    background-color: #5cb85c;
    border: 2px solid #5cb85c;
}

.bootcards-toggle.active .bootcards-toggle-handle {
    -ms-transform: translate3d(44px, 0, 0);
    -webkit-transform: translate3d(44px, 0, 0);
    border-color: #5cb85c;
    transform: translate3d(44px, 0, 0);
}

.bootcards-toggle.active:before {
    color: #fff;
    content: "On";
    left: 15px;
    right: auto;
}

.bootcards-toggle input[type="checkbox"] { display: none; }


/* CALENDAR */

.bootcards-calendar {
    background: white;
    margin-top: -15px;
}

.bootcards-calendar .fc-header-left,
.bootcards-calendar .fc-header-right { padding: 15px; }

.bootcards-calendar .fc-header-title h2 { margin: 0; }

.bootcards-calendar .fc-content th:first-child,
.bootcards-calendar .fc-content td:first-child { border-left-width: 0; }

.bootcards-calendar .fc-content th:last-child,
.bootcards-calendar .fc-content td:last-child { border-right-width: 0; }

.bootcards-calendar .fc-header-title h2 {
    color: #8f8f94;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 8px 0;
    text-transform: uppercase;
}

.bootcards-calendar .fc-header-left,
.bootcards-calendar .fc-header-right { padding: 0 10px; }

.bootcards-calendar .fc-button .fc-icon { margin: 0; }

.bootcards-calendar .fc-header .fc-button {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    font-size: 16px;
    height: 44px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-shadow: none;
}

.bootcards-calendar .fc-header-left .fc-button { margin-right: 10px; }

.bootcards-calendar .fc-header-right .fc-button { margin-left: 10px; }

.bootcards-calendar .fc-icon-left-single-arrow:after,
.bootcards-calendar .fc-icon-right-single-arrow:after {
    font-family: 'FontAwesome';
    font-size: 18px;
    font-weight: normal;
}

.bootcards-calendar .fc-icon-left-single-arrow:after { content: ''; }

.bootcards-calendar .fc-icon-right-single-arrow:after { content: ''; }

.bootcards-calendar .fc-header .fc-button.fc-state-disabled {
    color: #AAA;
    opacity: 1;
}

.bootcards-calendar .fc-header .fc-button.fc-state-active { color: #AAA; }

.bootcards-calendar .fc-day-header {
    border-left-color: transparent;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 0;
    padding-right: 3px;
}

.bootcards-calendar .fc-event {
    background: #007aff;
    border-color: #007aff;
}

.bootcards-calendar .fc-today { background: #FFF2F2; }



/* TABLE CARD */

.table > thead > tr > th:first-child,
.table > tbody > tr > th:first-child,
.table > tfoot > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child { padding-left: 15px; }

.table > thead > tr > th:last-child,
.table > tbody > tr > th:last-child,
.table > tfoot > tr > th:last-child,
.table > thead > tr > td:last-child,
.table > tbody > tr > td:last-child,
.table > tfoot > tr > td:last-child { padding-right: 15px; }




/* FILE CARD */

@font-face {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/icomoon.eot?-n2q9vw');
    src: url('../fonts/icomoon.eot?#iefix-n2q9vw') format('embedded-opentype'),
         url('../fonts/icomoon.woff?-n2q9vw') format('woff'),
         url('../fonts/icomoon.ttf?-n2q9vw') format('truetype'),
         url('../fonts/icomoon.svg?-n2q9vw#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
    -moz-osx-font-smoothing: grayscale;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    font-family: 'icomoon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;

    speak: none;
    text-transform: none;
}

.icon-file-pdf:before { content: "\e4e2"; }

.icon-file-word:before { content: "\e4e4"; }

.icon-file-excel:before { content: "\e4e5"; }

.icon-file-powerpoint:before { content: "\e4e7"; }

.icon-file:before { content: "\e08d"; }

.bootcards-file .list-group-item:first-child {
    padding-left: 74px;
    position: relative;
}

.bootcards-file .list-group-item:first-child i {
    font-size: 64px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 64px;
}

.bootcards-file .list-group-item *:last-child { margin-bottom: 0; }


/* CHART CARD */

.bootcards-chart .bootcards-chart-canvas { height: 200px; }



/* SUMMARY CARD */

.bootcards-summary .panel-body { padding: 7px 25px; }

.bootcards-summary .panel-body > .row > div { padding: 8px; }

.bootcards-summary-item {
    background: #f5f5f5;
    border-radius: 4px;
    display: block;
    height: 130px;
    padding: 25px 10px;
    position: relative;
    text-align: center;
}

@media (max-width: 400px) {
    .bootcards-summary-item { padding: 15px 5px; }
}

.bootcards-summary-item:hover {
    background: #eee;
    text-decoration: none;
}

.bootcards-summary-item > i {
    color: #bbb;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.bootcards-summary-item h4 { margin: 0 auto; }


.bootcards-summary-item .badge,
.bootcards-summary-item .label {
    position: absolute;
    right: 10px;
    top: 10px;
}


/* RICH TEXT CARD */

.bootcards-richtext > .panel-body {
    margin: 0 auto;
    max-width: 640px;
    padding: 25px;
}

.bootcards-richtext > .panel-body > *:first-child { margin-top: 0; }


/* ALERTS & DIALOGS */

@media (max-width: 767px) {
    .modal-dialog.modal-sm { margin: 15px; }
}

@media (min-width: 768px) {
    .modal-dialog.modal-sm { width: 400px; }
}

html,
body { height: 100%; }

body {
    overflow-x: hidden;
    padding-top: 50px;
}

.wrapper {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}


small { font-size: 70%; }





/* NAVBAR */

.navbar-header { display: block; }

.navbar-nav { display: none; }

.navbar-toggle { display: none; }




/* GRID */

.container {
    height: 100%;
    margin: 0;
    width: auto;
}

.bootcards-wrapper,
body > .container > .row {
    height: 100%;
    padding-bottom: 50px;
}

body.bootcards-nofooter .bootcards-wrapper,
body.bootcards-nofooter > .container > .row { padding-bottom: 0; }

.container .bootcards-cards,
.container .bootcards-list {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .container .bootcards-list { border-right: 1px solid rgba(0, 0, 0, 0.2); }
}

.container .bootcards-cards { padding-top: 15px; }

@media (min-width: 768px) {
    .bootcards-cards > div[class*='col-']:not(:first-child) { padding-left: 8px; }

    .bootcards-cards > div[class*='col-']:not(:last-child) { padding-right: 8px; }
}


/* MENU */

.navmenu {
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    padding: 0;
}

.navmenu li {
    font-size: 15px;
    line-height: 30px;
}

.navmenu li a { color: #777; }

.navmenu li.active > a, .navmenu li.active > a:hover {
    background-color: #e7e7e7;
    color: #555;
}

.navmenu li > a:hover {
    background: transparent;
    color: #333;
}

.navmenu i {
    text-align: center;
    width: 24px;
}

.navmenu .bootcards-parent:not(.collapsed) { color: #333; }

.navmenu .bootcards-parent:not(.collapsed) .fa-chevron-circle-right { -webkit-transform: rotate(90deg); }

/* Menu Children */

.navmenu li li { padding-left: 32px; }

.navmenu li li li { padding-left: 32px; }


/* LISTS */

.bootcards-list {
    background-color: #ffffff;
    padding: 0;
}

.bootcards-list .panel { margin-bottom: 0; }

.list-group-item:first-child,
.list-group-item:last-child { border-radius: 0; }

.bootcards-list .panel-footer { border-bottom: 1px solid #DDD; }


/* List - Subheadings */

a.list-group-item.bootcards-list-subheading:hover { background: #f5f5f5; }


/* List - Search Form */

.bootcards-list .panel-body { padding: 0; }

.bootcards-list form, .bootcards-list .search-form {
    background: #BBB;
    padding: 8px;
}

.bootcards-list form .row, .bootcards-list .search-form .row { margin: 0; }

.bootcards-list form .row > div:first-child, .bootcards-list .search-form .row > div:first-child {
    padding-left: 0;
    padding-right: 4px;
}

.bootcards-list form .row > div:last-child, .bootcards-list .search-form .row > div:last-child {
    padding-left: 4px;
    padding-right: 0;
}




/* CARDS */

.panel-footer { background: 0; }


/* RICH TEXT CARD */

.bootcards-richtext .fa-search-plus,
.bootcards-richtext .fa-search-minus {
    font-size: 23px;
    line-height: 1;
}




/* FOOTER */

.bootcards-nofooter .navbar-fixed-bottom { display: none; }

.navbar-fixed-bottom .container {
    margin: 0;
    padding: 0;
}

.navbar-fixed-bottom .btn-group {
    list-style: none;
    margin: 0 auto;
    width: 100%;
}

.navbar-fixed-bottom .btn,
.navbar-fixed-bottom .btn:hover,
.navbar-fixed-bottom .btn:active,
.navbar-fixed-bottom .btn:focus {
    background: transparent;
    border: 0;
    box-shadow: none;
    display: inline-block;
    opacity: 1;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-fixed-bottom .btn-group .btn { width: 25%; }

@media (min-width: 768px) {
    .navbar-fixed-bottom .btn-group .btn { width: 16.66666%; }
}

/*
 * change z-index of a backdrop in the bootcards container so the
 * header and footer stay on top
 */

.bootcards-container > .modal-backdrop { z-index: 9; }

@import "bootcards-mobile-shared.css";

body {
    background: #efeff4;
    background-color: #efeff4;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 44px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

a { color: #007aff; }


html, body {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    /*overflow-y: scroll;*/
    overflow-y: hidden;
}

/*needed on iOS for the disabled rubberband*/

.col-sm-6 {
    min-height: 100%; /* replaced height with min-height as it was causing problems on shorter screens */
}

/* OFFCANVAS LIST FOR TABLET PORTRAIT MODE */

.offcanvas-list-title {
    background: rgba(247, 247, 247, .98);
    height: 45px;
    text-align: center;
}


/* BUTTONS */

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    -webkit-transition: opacity 0.3s;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #007aff;
    font-size: 15px;
    margin: 0;
    opacity: 1;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.btn:hover,
.btn.active { opacity: 0.5; }

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus { color: #d43f3a; }

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus { color: #4cae4c; }

.btn-xs,
.btn-xs:hover,
.btn-xs:active,
.btn-xs:focus {
    font-size: 10px;
    line-height: 20px;
}

.btn-link { border: 0; }

.btn[disabled] {
    background-color: transparent;
    border-color: transparent;
}


/* NAVBAR */

.navbar-fixed-top .container {
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar-default {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    background-color: rgba(247, 247, 247, .98);
    border-bottom: 0;
    box-shadow: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    height: 44px;
    left: 0;
    min-height: 44px;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
    z-index: 10;
}

.navbar-header { float: none; }

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #000;
    /*width: 140px !important;*/
    /*margin: 0 auto !important;*/
    float: none !important;
    font-size: 17px;
    font-weight: 500;
    height: 44px;
    line-height: 44px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
}

.navbar > .container .navbar-brand { margin: 0; }

.navbar-fixed-top .btn,
.navbar-fixed-top .btn:hover {
    border: 0;
    font-size: 16px;
    font-weight: 400;
    left: 15px;
    line-height: 44px;
    padding: 0;
    position: absolute;
    z-index: 20;
}

.navbar-fixed-top .btn.navbar-left { left: 15px; }

.navbar-fixed-top .btn.pull-right i { display: none; }

.navbar-fixed-top .btn.navbar-right {
    left: auto;
    right: 15px;
}

/* iPhone Landscape */

@media (orientation: landscape) and (max-width: 767px) {
    body { padding-top: 32px; }

    .navbar-default {
        height: 32px;
        min-height: 32px;
    }

    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover {
        height: 32px;
        line-height: 32px;
    }

    .navbar-fixed-top .btn,
    .navbar-fixed-top .btn:hover { line-height: 32px; }
}






/* SIDE MENU */

.offcanvas { margin-top: 45px; }




/* CARDS */

.panel {
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.bootcards-cards .panel { margin-bottom: 15px; }

.panel-default > .panel-heading,
.panel-default .panel-heading {
    background: transparent;
    padding-bottom: 3px;
    padding-top: 3px;
}

.panel-title {
    color: #8f8f94;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 8px 0;
    text-transform: uppercase;
}





/* CALENDAR */

.bootcards-calendar .fc-header .fc-button { color: #007aff; }



/* MODALS */

@media (max-width: 767px) {
    .modal-dialog { min-height: 100%; }

    .modal-dialog { margin: 0; }

    .modal-content { height: 100%; }
}

.modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
}

.modal-header {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    background-color: rgba(247, 247, 247, .98);
    border-bottom: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    height: 44px;
    min-height: 44px;
    overflow: hidden;
    padding: 0 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-header .btn {
    border: 0;
    font-size: 16px;
    line-height: 32px;
    z-index: 1;
}

.modal-title {
    color: #000;
    display: block;
    font-size: 17px;
    font-weight: 500;
    left: 0;
    line-height: 44px;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    white-space: nowrap;
    z-index: 0;
}

.modal-body { padding: 15px; }

.modal-footer {
    border-top: 1px solid #ddd;
    margin-top: -1px;
    padding: 10px 15px;
}



/* LISTS */

.bootcards-list .list-group-item { }

.list-group-item:first-child { border-top: 0; }

.list-group { box-shadow: none; }

.list-group-item {
    border-left: 0;
    border-right: 0;
    line-height: 24px;
}

.list-group-item label {
    color: #007aff;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
}

.list-group-item .list-group-item-heading {
    color: black;
    display: block;
    font-size: 17px;
    font-weight: normal;
}

a.list-group-item {
    color: black;
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
    padding-right: 25px;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    background: #e5e5e5;
    border-color: #DDD;
    color: black;
    text-shadow: none;
}

a.list-group-item:hover { background: white; }

.list-group-item .list-group-item-text,
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
    color: #999;
    font-size: 14px;
    font-weight: normal;
}

/* List - Search Form */

.bootcards-list form, .bootcards-list .search-form { margin-left: 0; }

.bootcards-list form input, .bootcards-list .search-form input { border: 0; }

.bootcards-list form i.fa-search, .bootcards-list .search-form i.fa-search { top: 10px; }

@media (min-width: 768px) {
    .bootcards-list form input, .bootcards-list .search-form input { height: 34px; }

    .bootcards-list form i.fa-search, .bootcards-list .search-form i.fa-search { top: 9px; }

    .bootcards-list form .btn, .bootcards-list .search-form .btn { /*line-height: 28px;*/ }
}



/* FORMS */

.form-horizontal .form-group {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.form-horizontal .form-group:first-of-type { margin-top: -15px; }

.form-horizontal .form-group:last-child { margin-bottom: -15px; }

.form-horizontal .control-label {
    color: #007aff;
    color: #333;
    font-size: 13px;
    font-weight: normal;
    margin-top: 2px;
    padding-right: 0;
    padding-top: 7px;
    white-space: nowrap;
}

.form-horizontal .form-group div { padding: 0 3px; }

.form-horizontal .form-group .control-label:first-child { padding-left: 0; }

.form-horizontal .form-group div:last-child { padding-right: 0; }

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.input-group,
.form-control {
    -webkit-appearance: none;
    border-color: transparent;
    box-shadow: none;
    color: black;
    margin: 0;
}

form .btn label {
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding-left: 6px;
    text-align: left;
}

.bootcards-clearinput { top: 9px; }



/* Toggle – based on Ratchet.css */

.bootcards-toggle {
    -moz-transition-duration: .2s;
    -moz-transition-property: box-shadow, border;
    -webkit-box-shadow: inset 0 0 0 0 #e1e1e1;
    -webkit-transition-duration: .2s;
    -webkit-transition-property: box-shadow, border;
    border: 2px solid #e6e6e6;
    box-shadow: inset 0 0 0 0 #e1e1e1;
    float: right;
    margin-top: 1px;
    transition-duration: .2s;
    transition-property: box-shadow, border;
    width: 47px;
}

.bootcards-toggle .bootcards-toggle-handle {
    -moz-transition-property: -moz-transform, border, width;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .08);
    -webkit-transition-property: -webkit-transform, border, width;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .08);
    transition-property: transform, border, width;
}

.bootcards-toggle:before { display: none; }

.bootcards-toggle.active {
    -webkit-box-shadow: inset 0 0 0 13px #4cd964;
    background-color: transparent;
    border: 2px solid #4cd964;
    box-shadow: inset 0 0 0 13px #4cd964;
}

.bootcards-toggle.active .bootcards-toggle-handle {
    -ms-transform: translate3d(17px, 0, 0);
    -webkit-transform: translate3d(17px, 0, 0);
    transform: translate3d(17px, 0, 0);
}

.bootcards-toggle.active .bootcards-toggle-handle { border-color: #4cd964; }





/* FOOTER */

.navbar-fixed-bottom {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    background-color: #f9f9f9;
    border: 0;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    height: 50px;
    text-align: center;
}


.navbar-fixed-bottom .btn-group {
    font-size: 0;
    max-width: 320px;
    width: 320px;
}

@media (min-width: 401px) {
    .navbar-fixed-bottom .btn-group {
        display: block;
        max-width: none;
        width: auto;
    }
}

.navbar-fixed-bottom .btn-group .btn,
.navbar-fixed-bottom .btn-group .btn:hover,
.navbar-fixed-bottom .btn-group .btn:active,
.navbar-fixed-bottom .btn-group .btn:focus {
    float: none;
    font-size: 10px;
    font-weight: 400;
    height: 50px;
    line-height: 1;
    padding-top: 7px;
    text-align: center;
}

.navbar-fixed-bottom .btn-group .btn i {
    display: block;
    font-size: 24px;
    margin: 0;
    margin-bottom: 2px;
}

.navbar-fixed-bottom .btn-group .btn-default { color: #929292; }

.navbar-fixed-bottom .btn-group .btn-default:active,
.navbar-fixed-bottom .btn-group .btn-default:hover { color: #007aff; }

/* Fixed buttons */

.navbar-fixed-bottom .btn.pull-left,
.navbar-fixed-bottom .btn.pull-left:hover,
.navbar-fixed-bottom .btn.pull-right,
.navbar-fixed-bottom .btn.pull-right:hover {
    border: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    padding: 0;
    position: relative;
    z-index: 20;
}

/* iPhone Landscape */

@media (orientation: landscape) and (max-width: 767px) {
    .navbar-fixed-bottom { height: 44px; }

    .navbar-fixed-bottom .btn-group .btn,
    .navbar-fixed-bottom .btn-group .btn:hover,
    .navbar-fixed-bottom .btn-group .btn:active,
    .navbar-fixed-bottom .btn-group .btn:focus {
        height: 44px;
        padding-top: 5px;
    }

    .navbar-fixed-bottom .btn.pull-left,
    .navbar-fixed-bottom .btn.pull-left:hover,
    .navbar-fixed-bottom .btn.pull-right,
    .navbar-fixed-bottom .btn.pull-right:hover { line-height: 44px; }

    .bootcards-wrapper, body > .container > .row { padding-bottom: 44px; }

    .bootcards-az-picker { padding-bottom: 44px; }
}