.item-padding { padding-right: 20px }

.btn-input { display: block; }

.btn-input .btn.form-control { text-align: left; }

.btn-input .btn.form-control span:first-child {
    left: 10px;
    overflow: hidden;
    position: absolute;
    right: 25px;
}

.btn-input .btn.form-control .caret {
    margin-top: -1px;
    position: absolute;
    right: 10px;
    top: 50%;
}

.fix > div {
    height: inherit !important;
    width: 100% !important;
}

.clickable { cursor: pointer; }