<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Angular Playground' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>96933171-ff12-41fe-b153-2827bd6d89da</InstrumentationKey>
</ApplicationInsights>